body{
	background: url(../img/img.jpg);
	background-size: cover;
}

#app{
	background: white;
	color: black;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
}